:root {
	color-scheme: light dark;

	--colour-dull-black: rgba(0, 0, 0, 0.3);
	--colour-dim: rgba(0, 0, 0, 0.7);
	--colour-bright: rgba(255, 255, 255, 0.7);
	--colour-dull-bright: rgba(255, 255, 255, 0.3);

	--text-main: #f3ede5;

	--light-bg: #f3ede5;
	--light-text-strong: #2d1810;
	--light-accent: #96573b;
	--light-accent-strong: #442214;
	--light-green: #bfdf9e;
	--light-green-strong: #9dc275;
	--light-green-deep: #2f4418;

	--dark-bg: #1b1814;
	--dark-text-strong: #fff3ef;
	--dark-accent: #96573b;
	--dark-accent-strong: #f3e1da;
	--dark-green: #2f4418;
	--dark-green-strong: #5b7440;
	--dark-green-deep: #bfdf9e;

	--screen-md: 768px;

	--border-radius: 8px;
}

@font-face {
	font-family: 'Nunito';
	src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 1000;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('/fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 1000;
	font-style: italic;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: none;
	border: none;

	font-family: 'Nunito', sans-serif;
	touch-action: manipulation;
}

html {
	scrollbar-gutter: stable;
	background-color: black;
}

body {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;

	background-color: #f5f0e8;
	background-image: linear-gradient(
		to bottom,
		transparent 31px,
		#d4d4d4 31px,
		#d4d4d4 32px,
		transparent 32px
	);
	background-size: 100% 32px;
	background-position: 0 8px;

	&:has(dialog[open]) {
		overflow: hidden;
	}
}

.flexbox {
	display: flex;
	flex-direction: row;
	align-items: center;
}

a,
button {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

button {
	user-select: none;
	-webkit-user-select: none;
}

.content-block {
	max-width: calc(1000px + 1.5rem);
	margin: 0 auto;
	padding: 0 16px;
}

.content-title {
	padding-top: 48px;
}

.notebook-div {
	background-size: 100% 32px;
	background-position: 0 8px;
}

.click-button {
	display: block;
	padding: 10px 32px;
	border: none;
	border-radius: var(--border-radius);
	transition: all 0.3s ease;
	font-size: 1rem;
	font-weight: 600;
}

@media (max-width: 768px) {
	.content-block {
		padding: 0 12px;
	}

	.content-title {
		padding-top: 24px;
	}

	h1 {
		font-size: 20px;
	}

	h2 {
		font-size: 18px;
	}

	h3 {
		font-size: 15px;
	}

	.click-button {
		font-size: 14px;
	}
}
