* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: none;
	border: none;

	user-select: none;
	-webkit-user-select: none; /* Safari and Chrome */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;

	font-family: 'Nunito', sans-serif;
	touch-action: manipulation;
}
